{% load static %}
{% load bootstrap3 %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Hi</title>
   <!-- Bootstrap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

   <link rel="stylesheet" href="{% static 'style.css' %}">


    <style>


    </style>



</head>
<body>
<div class="wrapper">


    {% include 'navbar.html' %}
<div class="general-container"> </div>
    {% block content %}
    {% endblock content%}


    {% include 'footer.html' %}

</div>
</body>
</html>